* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
img {
  max-width: 100%;
  display: block;
}
/* Gerais */
main {
  margin: 0 auto;
  max-width: 1190px;
  display: grid;
  grid-template-columns: 150px 1fr 150px;
}
aside {
  grid-column: 1 / -1;
  background: #020183;
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  padding: 10px 0;
}
aside div {
  grid-column: 2;
  margin-left: auto;
}
aside span {
  color: #fff;
}
p,
span,
a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1, 125em;
  color: #8a8a8a;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #8a8a8a;
}
/* Header */
header {
  grid-column: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 0;
}
header ul {
  display: flex;
  flex-wrap: wrap;
}
header li + li {
  margin-left: 10px;
}
header a, header li {
  padding: 10px 0;
  cursor: pointer;
  color: #8a8a8a;
  text-transform: uppercase;
  font-weight: bold;
}
header a:hover, header li:hover {
  color: #000;
}

.container-submenuOne, .container-submenuTwo {
  position: relative;
  text-align: center;
}
header .submenuOne, .submenuTwo {
  background: #020183;
  display: none;
  flex-direction: column;
  text-align: center;
}
.submenuOne, .submenuTwo {
  position: absolute;
  z-index: 100;
}
.submenuTwo {
  left: 100px;
  top: 0px;
}
/* subMenu */
.submenuOne li , .submenuTwo li {
  display: flex;
  justify-content: center;
}
.submenuOne a, .submenuOne li, .submenuTwo a {
  padding: 5px 5px;
  color: #fff;
}
.container-submenuOne:hover .submenuOne, .container-submenuOne.active .submenuOne,
li.container-submenuTwo:hover .submenuTwo, li.container-submenuTwo.active .submenuTwo {
  display: flex;
}
/* slide */
.slider {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  background: #d1d1d1;
  position: relative;
}
.slider .container {
  grid-column: 2;
  margin: 0 auto;
}
.slider-controls {
  grid-column: 2;
  margin: 5px auto; 
}
.slider-controls span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #8a8a8a;
  border-radius: 50%;
  cursor: pointer;
  transition: all .3s ease ;
}
.slider-controls span:hover, .slider-controls span.ativo {
  background: #020183;
  transform: scale(1.2);
}
.slider img {
  display: none;
}
.slider img.active {
  display: block;
  animation: sliderAnimation .5s forwards;
}
@keyframes sliderAnimation {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/* informações */
.info {
  margin-top: 10px;
  grid-column: 2;
  display: flex;
  justify-content: space-between;
}
.info p {
  margin: 10px 0;
}
.info ul {
  list-style: disc;
}
.info li {
  color: #8a8a8a;
  margin-left: 13px;
}
/* boxes */
.boxes {
  margin-top: 10px;
  grid-column: 2;
}
.boxes h1 {
  margin: 20px 0;
}
.container-boxes-imgs {
  display: flex;
  justify-content: space-between;
}
.container-boxes-imgs div {
  display: flex;
  flex-direction: column;
}
.container-boxes-imgs div ~ div {
  margin-left: 10px;
}
.container-boxes-imgs p {
  margin: 10px 0;
  font-size: 1em;
}
/* footer */
footer {
  margin-top: 10px;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  background: #454545;
  height: 150px;
}
.footer-container {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.footer-container ul {
  display: flex;
  flex-wrap: wrap;
}
.footer-container li + li {
  margin-left: 10px;
}
.footer-container a {
  padding: 10px 0;
  cursor: pointer;
  color: #8a8a8a;
  text-transform: uppercase;
  font-weight: bold;
}
.footer-container a:hover {
  color: #000;
}
.footer-container p {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}
/* responsivo */
@media (max-width: 1252px) {
  main {
    margin: 0 10px 0 5px;
    display: flex;
    flex-direction: column;
  }
  aside  {
    display: flex;
  }
  aside span {
    margin-right: 3px;
  }
  header {
    flex-wrap: wrap;
    justify-content: center;
  }
  .slider {
    display: flex;
    flex-direction: column;
  }
  .slider img {
    min-height: 200px;
  }
  .info {
    flex-wrap: wrap;
    justify-content: center;
  }
  .info li {
    margin-left: 18px;
  }
  .container-boxes-imgs {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  footer {
    display: flex;
    justify-content: center;
  }
  .footer-container ul {
    justify-content: center;
  }
} 